# Sequence Types

- Sequences have a positional ordering.
- Python `Lists` have a concept of positional order, but `sets` do not. A `List` is a sequence type. `Set` is not.
- Built-in Sequence Types: **Mutable**: `Lists`, `ByteArrays`. **Immutable**: `strings`, `tuples`, `range`, `bytes`
- Additional Standard Types: **Collections**: `namedtuple`, `deque`. **array**: `array`
- Homogeneous: Each element is of same type. E.g. `Strings`
- Heterogeneous: Each element may be of different type. E.g. `List`
- Homogeneous sequence types are usually more efficient (storage wise at least)
- Iterable: It is a *container* type of object and we can list out the elements in that object one by one.
- Any Sequence type is iterable. But an iterable is not necessarily a sequence type. Iterables are more general. E.g. `Sets` are iterable but not sequence.

### Standard Sequence Methods

s is a sequence, x is an elelment of sequence. n is an integer. 

- x in s
- x not in s
- s1 + s2 # Concatenation
- s * n (or n * s) # repitition
- len(s)
- min(s), max(s)
- s.index(x) # index of first occurrence of x in s
- s.index(x, i) # index of first occurrence of x in s at or after index i
- s.index(x, i, j) # index of first occurrence of x in s at or after index j
- s[i] # element at index i
- s[i:j] # slice from index i, to (but not including) j
- s[i:j:k] # extended slice from index i, to (but not including) j. in steps of k.

- `range` objects are more restrictive. no concatenation/repitition

In [4]:
l = [1, 2, 3]
t = (1, 2, 3)
s = 'python'

l[0], t[1], s[2]

(1, 2, 't')

In [5]:
# Looping through sequence
for c in s:
    print(c)

p
y
t
h
o
n

In [6]:
# Looping through set
s = {10, 20, 30}
for e in s:
    print(e)

10
20
30

In [7]:
# Unordered
s = {'x', 10, 'a', 'A'}
for e in s:
    print(e)

x
10
A
a

In [11]:
l = [1, 2, 3]
t = (1, 2, 3)
# Change value of an element for list
l[0] = 100
l

[100, 2, 3]

In [12]:
# Try to change tuple value
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [13]:
t = ([1, 2], 3, 4)
t[0][0] = 100
t

([100, 2], 3, 4)

In [14]:
'a' in ['a', 'b', 100]

True

In [15]:
100 in range(200)

True

In [16]:
len('python'), len([1, 2, 3]), len({10, 20, 30}), len({'a': 1, 'b': 2})

(6, 3, 3, 2)

In [17]:
l = [100, 200, 300]
min(l) # A Comparison operator is supported between instances of int

100

In [19]:
l = ['a', 'b', 'c']
min(l)

'a'

In [18]:
l = [2+2j, 10+10j, 100+100j]
min(l) # Comparison operator are not supported betweeen instances of 'complex' numbers.

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [20]:
l = ['a', 10, 100]
min(l)

TypeError: '<' not supported between instances of 'int' and 'str'

In [21]:
from decimal import Decimal

l = [10, 10.5, Decimal('20.3')]
min(l)

10

### Beware of concatenation

In [22]:
# Concatenation
# Allowed
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [23]:
# Not Allowed
[1, 2, 3] + (4, 5, 6)

TypeError: can only concatenate list (not "tuple") to list

In [24]:
# Not allowed
'abc' + ['d', 'e', 'f']

TypeError: can only concatenate str (not "list") to str

In [25]:
# Allowed
list('abc') + ['d', 'e', 'f']

['a', 'b', 'c', 'd', 'e', 'f']

In [26]:
'***'.join(['1', '2', '3'])

'1***2***3'

In [8]:
x = [[0, 0]]
a = x + x
a

[[0, 0], [0, 0]]

In [9]:
id(a[0]), id(a[1])

(2091459411456, 2091459411456)

In [10]:
a[0][0] = 100
a

[[100, 0], [100, 0]]

In [34]:
s = 'python'
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
s[1:4]

'yth'

In [36]:
l[0:5]

[1, 2, 3, 4, 5]

In [37]:
# Slice indices that goes beyond
s[4:10000]

'on'

In [38]:
s[:4]

'pyth'

In [39]:
s[4:]

'on'

In [40]:
s[:]

'python'

In [41]:
# Slicing ALWAYS returns a new object
l = [1, 2, 3]
l2 = l[:]
id(l), id(l2)

(2091459892864, 2091459264320)

In [42]:
# Reverse a sequence
s[::-1]

'nohtyp'

## Caveats

In [43]:
a = Decimal('10.5')
b = Decimal('10.5')
a is b

False

In [44]:
id(a), id(b)

(2091466381936, 2091466381488)

In [45]:
a == b

True

In [46]:
l = [Decimal('10.5')]

In [47]:
id(l[0])

2091466376224

In [48]:
l2 = l * 2
l2

[Decimal('10.5'), Decimal('10.5')]

In [49]:
id(l2[0])

2091466376224

In [50]:
id(l2[1])

2091466376224

## Mutable Sequence Types

- Concatenation is not mutation. Concatenation changes the reference to another memory address.
- Mutating an object means changing the object's `state` without creating a new object.The memory address must not change.
- Some methods supported by mutable sequences types such as lists:
    - s.clear() # Remove all items from s
    - s.append(x) # appends x to the end of s
    - s.insert(i, x) # inserts x at index i
    - s.extend(iterable) # Appends contents pf iterable to the end of s
    - s.pop(i) # Removes and returns element at index
    - s.remove(x) # Removes the first occurrence of x in s
    - s.reverse() # Does an in-place reversal of elements of s
    - s.copy() # returns a shallow copy

## List vs Tuples

- Constant folding is the process of recognizing and evaluating constant expressions at compile time rather than computing them at runtime.
-

In [51]:
from dis import dis

In [52]:
dis(compile('(1, 2, 3, "a")', 'string', 'eval'))

  0           0 RESUME                   0

  1           2 RETURN_CONST             0 ((1, 2, 3, 'a'))

In [53]:
dis(compile('[1, 2, 3, "a"]', 'string', 'eval'))

  0           0 RESUME                   0

  1           2 BUILD_LIST               0
              4 LOAD_CONST               0 ((1, 2, 3, 'a'))
              6 LIST_EXTEND              1
              8 RETURN_VALUE

In [54]:
dis(compile('(1, 2, 3, [10, 20])', 'string', 'eval'))

  0           0 RESUME                   0

  1           2 LOAD_CONST               0 (1)
              4 LOAD_CONST               1 (2)
              6 LOAD_CONST               2 (3)
              8 LOAD_CONST               3 (10)
             10 LOAD_CONST               4 (20)
             12 BUILD_LIST               2
             14 BUILD_TUPLE              4
             16 RETURN_VALUE

In [55]:
from timeit import timeit

In [56]:
timeit("(1, 2, 3, 4, 5, 6, 7, 8, 9)", number=10_000_000)

0.07194029999664053

In [57]:
timeit("[1, 2, 3, 4, 5, 6, 7, 8, 9]", number=10_000_000)

0.3300423999899067

In [58]:
def fn1():
    pass

In [59]:
dis(compile('(fn1, 10, 20)', 'string', 'eval'))

  0           0 RESUME                   0

  1           2 LOAD_NAME                0 (fn1)
              4 LOAD_CONST               0 (10)
              6 LOAD_CONST               1 (20)
              8 BUILD_TUPLE              3
             10 RETURN_VALUE

In [60]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
t1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)

id(l1), id(t1)

(2091465550400, 2091462847680)

In [61]:
l2 = list(l1)
id(l1), id(l2)

(2091465550400, 2091465822912)

In [62]:
t2 = tuple(t1)
id(t1), id(t2)

(2091462847680, 2091462847680)

### Storage Efficiency

In [64]:
import sys

In [67]:
t = tuple()
prev = sys.getsizeof(t)
for i in range(10):
    c = tuple(range(i+1))
    size_c = sys.getsizeof(c)
    delta, prev = size_c - prev, size_c
    print(f'{i+1} items: {size_c}, delta={delta}')

1 items: 48, delta=8
2 items: 56, delta=8
3 items: 64, delta=8
4 items: 72, delta=8
5 items: 80, delta=8
6 items: 88, delta=8
7 items: 96, delta=8
8 items: 104, delta=8
9 items: 112, delta=8
10 items: 120, delta=8

In [69]:
l = list()
prev = sys.getsizeof(l)
for i in range(10):
    l = list(range(i+1))
    size_l = sys.getsizeof(l)
    delta, prev = size_l - prev, size_l
    print(f'{i+1} items: {size_l}, delta={delta}')

1 items: 72, delta=16
2 items: 72, delta=0
3 items: 88, delta=16
4 items: 88, delta=0
5 items: 104, delta=16
6 items: 104, delta=0
7 items: 120, delta=16
8 items: 120, delta=0
9 items: 136, delta=16
10 items: 136, delta=0

In [70]:
c = list()
prev = sys.getsizeof(c)
print(f"0 items: {prev}")
for i in range(255):
    c.append(i)
    size_c = sys.getsizeof(c)
    delta, prev = size_c - prev, size_c
    print(f'{i+1} items: {size_c}, delta={delta}')

0 items: 56
1 items: 88, delta=32
2 items: 88, delta=0
3 items: 88, delta=0
4 items: 88, delta=0
5 items: 120, delta=32
6 items: 120, delta=0
7 items: 120, delta=0
8 items: 120, delta=0
9 items: 184, delta=64
10 items: 184, delta=0
11 items: 184, delta=0
12 items: 184, delta=0
13 items: 184, delta=0
14 items: 184, delta=0
15 items: 184, delta=0
16 items: 184, delta=0
17 items: 248, delta=64
18 items: 248, delta=0
19 items: 248, delta=0
20 items: 248, delta=0
21 items: 248, delta=0
22 items: 248, delta=0
23 items: 248, delta=0
24 items: 248, delta=0
25 items: 312, delta=64
26 items: 312, delta=0
27 items: 312, delta=0
28 items: 312, delta=0
29 items: 312, delta=0
30 items: 312, delta=0
31 items: 312, delta=0
32 items: 312, delta=0
33 items: 376, delta=64
34 items: 376, delta=0
35 items: 376, delta=0
36 items: 376, delta=0
37 items: 376, delta=0
38 items: 376, delta=0
39 items: 376, delta=0
40 items: 376, delta=0
41 items: 472, delta=96
42 items: 472, delta=0
43 items: 472, delta=0
44 items: 472, delta=0
45 items: 472, delta=0
46 items: 472, delta=0
47 items: 472, delta=0
48 items: 472, delta=0
49 items: 472, delta=0
50 items: 472, delta=0
51 items: 472, delta=0
52 items: 472, delta=0
53 items: 568, delta=96
54 items: 568, delta=0
55 items: 568, delta=0
56 items: 568, delta=0
57 items: 568, delta=0
58 items: 568, delta=0
59 items: 568, delta=0
60 items: 568, delta=0
61 items: 568, delta=0
62 items: 568, delta=0
63 items: 568, delta=0
64 items: 568, delta=0
65 items: 664, delta=96
66 items: 664, delta=0
67 items: 664, delta=0
68 items: 664, delta=0
69 items: 664, delta=0
70 items: 664, delta=0
71 items: 664, delta=0
72 items: 664, delta=0
73 items: 664, delta=0
74 items: 664, delta=0
75 items: 664, delta=0
76 items: 664, delta=0
77 items: 792, delta=128
78 items: 792, delta=0
79 items: 792, delta=0
80 items: 792, delta=0
81 items: 792, delta=0
82 items: 792, delta=0
83 items: 792, delta=0
84 items: 792, delta=0
85 items: 792, delta=0
86 items: 792, delta=0
87 items: 792, delta=0
88 items: 792, delta=0
89 items: 792, delta=0
90 items: 792, delta=0
91 items: 792, delta=0
92 items: 792, delta=0
93 items: 920, delta=128
94 items: 920, delta=0
95 items: 920, delta=0
96 items: 920, delta=0
97 items: 920, delta=0
98 items: 920, delta=0
99 items: 920, delta=0
100 items: 920, delta=0
101 items: 920, delta=0
102 items: 920, delta=0
103 items: 920, delta=0
104 items: 920, delta=0
105 items: 920, delta=0
106 items: 920, delta=0
107 items: 920, delta=0
108 items: 920, delta=0
109 items: 1080, delta=160
110 items: 1080, delta=0
111 items: 1080, delta=0
112 items: 1080, delta=0
113 items: 1080, delta=0
114 items: 1080, delta=0
115 items: 1080, delta=0
116 items: 1080, delta=0
117 items: 1080, delta=0
118 items: 1080, delta=0
119 items: 1080, delta=0
120 items: 1080, delta=0
121 items: 1080, delta=0
122 items: 1080, delta=0
123 items: 1080, delta=0
124 items: 1080, delta=0
125 items: 1080, delta=0
126 items: 1080, delta=0
127 items: 1080, delta=0
128 items: 1080, delta=0
129 items: 1240, delta=160
130 items: 1240, delta=0
131 items: 1240, delta=0
132 items: 1240, delta=0
133 items: 1240, delta=0
134 items: 1240, delta=0
135 items: 1240, delta=0
136 items: 1240, delta=0
137 items: 1240, delta=0
138 items: 1240, delta=0
139 items: 1240, delta=0
140 items: 1240, delta=0
141 items: 1240, delta=0
142 items: 1240, delta=0
143 items: 1240, delta=0
144 items: 1240, delta=0
145 items: 1240, delta=0
146 items: 1240, delta=0
147 items: 1240, delta=0
148 items: 1240, delta=0
149 items: 1432, delta=192
150 items: 1432, delta=0
151 items: 1432, delta=0
152 items: 1432, delta=0
153 items: 1432, delta=0
154 items: 1432, delta=0
155 items: 1432, delta=0
156 items: 1432, delta=0
157 items: 1432, delta=0
158 items: 1432, delta=0
159 items: 1432, delta=0
160 items: 1432, delta=0
161 items: 1432, delta=0
162 items: 1432, delta=0
163 items: 1432, delta=0
164 items: 1432, delta=0
165 items: 1432, delta=0
166 items: 1432, delta=0
167 items: 1432, delta=0
168 items: 1432, delta=0
169 items: 1432, delta=0
170 items: 1432, delta=0
171 items: 1432, delta=0
172 items: 1432, delta=0
173 items: 1656, delta=224
174 items: 1656, delta=0
175 items: 1656, delta=0
176 items: 1656, delta=0
177 items: 1656, delta=0
178 items: 1656, delta=0
179 items: 1656, delta=0
180 items: 1656, delta=0
181 items: 1656, delta=0
182 items: 1656, delta=0
183 items: 1656, delta=0
184 items: 1656, delta=0
185 items: 1656, delta=0
186 items: 1656, delta=0
187 items: 1656, delta=0
188 items: 1656, delta=0
189 items: 1656, delta=0
190 items: 1656, delta=0
191 items: 1656, delta=0
192 items: 1656, delta=0
193 items: 1656, delta=0
194 items: 1656, delta=0
195 items: 1656, delta=0
196 items: 1656, delta=0
197 items: 1656, delta=0
198 items: 1656, delta=0
199 items: 1656, delta=0
200 items: 1656, delta=0
201 items: 1912, delta=256
202 items: 1912, delta=0
203 items: 1912, delta=0
204 items: 1912, delta=0
205 items: 1912, delta=0
206 items: 1912, delta=0
207 items: 1912, delta=0
208 items: 1912, delta=0
209 items: 1912, delta=0
210 items: 1912, delta=0
211 items: 1912, delta=0
212 items: 1912, delta=0
213 items: 1912, delta=0
214 items: 1912, delta=0
215 items: 1912, delta=0
216 items: 1912, delta=0
217 items: 1912, delta=0
218 items: 1912, delta=0
219 items: 1912, delta=0
220 items: 1912, delta=0
221 items: 1912, delta=0
222 items: 1912, delta=0
223 items: 1912, delta=0
224 items: 1912, delta=0
225 items: 1912, delta=0
226 items: 1912, delta=0
227 items: 1912, delta=0
228 items: 1912, delta=0
229 items: 1912, delta=0
230 items: 1912, delta=0
231 items: 1912, delta=0
232 items: 1912, delta=0
233 items: 2200, delta=288
234 items: 2200, delta=0
235 items: 2200, delta=0
236 items: 2200, delta=0
237 items: 2200, delta=0
238 items: 2200, delta=0
239 items: 2200, delta=0
240 items: 2200, delta=0
241 items: 2200, delta=0
242 items: 2200, delta=0
243 items: 2200, delta=0
244 items: 2200, delta=0
245 items: 2200, delta=0
246 items: 2200, delta=0
247 items: 2200, delta=0
248 items: 2200, delta=0
249 items: 2200, delta=0
250 items: 2200, delta=0
251 items: 2200, delta=0
252 items: 2200, delta=0
253 items: 2200, delta=0
254 items: 2200, delta=0
255 items: 2200, delta=0

In [76]:
t = tuple(range(1_000_000))
l = list(t)

In [77]:
timeit('t[99_999]', globals=globals(), number=10_000_000)

0.1327315000235103

In [78]:
timeit('l[99_999]', globals=globals(), number=10_000_000)

0.14513420005096123

## Copying Sequences

- Mutable sequences can be modified. Sometimes, we want to make sure that whatever sequences we are working with cannot be modified, either inadvertently by us or by third party functions.
```
s = [10, 20, 30]

def _reverse(s):
    s.reverse()
    return s

new_list = _reverse(s)
new_list, s

([30, 20, 10], [30, 20, 10])
```

- Copy Sequence methods
    - Simple Loop
    - List Comprehension
    - The `copy` method # Not implemented in immutable types such as tuples or strings
    - Slicing

- Copying mutable sequence creates a new memory object, copying immutable sequence doesn't create a new memory object.
- Shallow copy creates a new sequence but uses same memory reference of the objects present in old sequence in new sequence.
- Basically, in Shallow copy, the sequence gets copied but it's elements do not.
- Deep Copies: 
    - If collections contain mutable elements, shallow copies are not sufficient to ensure the copy can never be used to modify the origina;. Instead we need to use `deep` copy.
- The `copy` function will create shallow copy. The `deepcopy` will create a deep copy, handling nested objects, and circular references properly.
- Custom classes can implement the `__copy__` and `__deepcopy__` methods to allow override how shallow and deep copies are made for custom objects.

In [82]:
s = [[10, 20], [30, 40]]
cp = s.copy()
cp[0] = 'python'

In [83]:
cp, s

(['python', [30, 40]], [[10, 20], [30, 40]])

In [84]:
cp[1][0] = 100
cp, s # s has also changed

(['python', [100, 40]], [[10, 20], [100, 40]])

In [85]:
# Partial Deep Copy
s = [[0, 0], [0, 0]]
cp = [e.copy() for e in s]

cp[1][0] = 100
cp, s

([[0, 0], [100, 0]], [[0, 0], [0, 0]])

In [88]:
# Custom class
class MyClass:
    def __init__(self, a):
        self.a = a

x = [10, 20]
obj = MyClass(x)
x is obj.a

True

In [89]:
from copy import copy, deepcopy

In [90]:
cp_shallow = copy(obj)
cp_shallow.a is obj.a

True

In [91]:
cp_deep = deepcopy(obj)
cp_deep.a is obj.a

False